.header {
    background-color: rgb(32, 30, 30);
    border-left: 25px #44E1F2 solid;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__link {
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0px 30px 0px 10px;
    padding: 8px 0;
    
}
.header__user {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0 20px 0 auto;
}


@media screen and (max-width:300px) {
    .header__link {
        padding: 5px;
        font-size: 17px;
    }
}