.header {
    background-color: rgb(32, 30, 30);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
h1 {
    color: rgb(255, 255, 255);
    padding: 10px;
    border-left: 25px rgb(3, 205, 255) solid;

}