.page {
    display: flex;
    margin-top: 10px;
  }
  .left_page {
    background-color: #42838a;
    border-radius: 10px;
    padding: 9px;
    flex: 0.15;
    margin: 50px 25px;
  }
  .boxoffice_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .midle_page {
    flex: 0.7;
    margin: 0px 25px;
  }
  .right_page {
    flex: 0.15;
    background-color: #42838a;
    border-radius: 10px;
    padding: 9px;
    margin: 50px 25px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .search {
    padding: 10px 100px;
  }
  .movies {
    margin-top: 20px;
    background-color: #42838a;
    border-radius: 15px;
    padding: 18px 13px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .movie {
    background-color: rgb(46, 46, 46);
    width: 160px;
    height: 260px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 18px;
    margin-bottom: 20px;
    border-radius: 15px 0px 25px 0px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.527);
    transition: 350ms;
  }
  .title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
  }
  .movie img {
    transition: 300ms;
    border-radius: 0px 0px 25px 0px;
    width: 160px;
    height: 240px;
    opacity: 1;
  }
  .movie:hover {
    transform: scale(1.05);
  }
  .movie:hover img{
    opacity: .5;
  }
  .movie:hover .buttons{
    opacity: 1;
  }
  .buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    bottom: 220px;
    left: 0px;
    transition: 420ms;
  }
  button {
    margin: 5px 6px;
  }
  @media screen and (max-width:800px) {
    .page {
      flex-direction: column;
    }
    .midle_page {
      order: 0;
    }
    .left_page {
      order: 1;
      align-items: center;
    }
    .right_page {
      order: 2;
    }
  }
  @media screen and (max-width:300px) {
    .movies {
      margin-top: 20px;
      padding: 12px 5px;
    }
    .movie {
      display: flex;
      margin: 5px;
      border-radius: 10px;
    }
    
    .movie img {
      width: 68px;
      height: 100px;
    }
  }